*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/fundo_site.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}